:root {
    --pastel-yellow: #FCF8E8;
    --pastel-light-green: #D4E2D4;
    --light-orange: #ECB390;
    --orange: #DF7861;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--pastel-yellow);
}
/*Header*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-orange);
    padding: 5px 0px;
    font-family: arial, sans-serif;
    font-weight: bolder;
    color: var(--orange);
    display: flex;
    justify-content: center;
  }

/*Content*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    padding: 10px 10px;
}

.content .input-data {
    padding: 0.125rem;
    font-size: 1.125rem;
}

.content .input-data input{
    display: inline;
    margin-bottom: 0.625rem;
}

/*table*/
.content #employees-table {
    width: 62.5rem;
}

.content #employees-table caption{
    font-size: 1.5rem;
    padding: 10px 10px;
    color: var(--orange);
}

.content #employees-table th {
    text-align: left;
}

.content #employees-table, th, td {
    border-width: 0.025rem;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    font-size: 1.125rem;
}

.content th, td {
    padding: 10px 10px;
    background-color: var(--pastel-light-green);
    color: var(--orange);
}

/*Footer*/
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-orange);
    padding: 5px 0px;
    font-family: arial, sans-serif;
    font-weight: bolder;
    color: var(--orange);
    display: flex;
    justify-content: center;
}