:root {
  --pastel-yellow: #fcf8e8;
  --pastel-light-green: #d4e2d4;
  --light-orange: #ecb390;
  --orange: #df7861;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*Body*/
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--pastel-yellow);
}
/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-orange);
  padding: 1rem;
  font-weight: bolder;
  color: var(--orange);
  display: flex;
  justify-content: center;
}

.content .search-area {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.1rem;
}

.content .search-input {
  position: fixed;
  height: 1.5rem;
  top: 10rem;
  left: 52rem;
}
.content .search-input #search-bar {
  position: relative;
  background: white;
  text-align: center;
  border-radius: 30px;
  width: 15rem;
  height: 1.5rem;
}

.content #search-bar:focus {
  outline: none;
}

.content #search-icon {
  position: absolute;
  left: 90%;
  top: 15%;
}

.content #addWithModal {
  position: fixed;
  top: 7rem;
  color: var(--pastel-yellow);
  padding: 0.125rem;
  width: 10rem;
  font-size: 1.125rem;
  background-color: var(--orange);
}

.modal-add {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-add {
  background-color: var(--pastel-light-green);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 40%;
}

.modal-content-add .input-data {
  padding: 0.5rem;
}

.modal-content-add .input-data .search-bar {
  background: white;
  border: black;
  text-align: center;
  border-radius: 30px;
  width: 80%;
  height: 70%;
}

/* The Close Button */
.modal-content-add .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content-add .close:hover,
.modal-content-add .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The submit button */
.modal-content-add #submit {
  color: var(--pastel-yellow);
  background-color: var(--orange);
  font-size: 120%;
  padding: 0.225rem;
  display: flex;
  justify-content: center;
}

.modal-content-add #submit:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Content*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 0.625rem 0.625rem;
}

/*table*/
.content #employees-table {
  width: 62.5em;
  text-align: left;
  position: fixed;
  top: 15rem;
}

.content #employees-table caption {
  font-size: 1.5rem;
  padding: 0.625rem 0.625rem;
  color: var(--orange);
  font-style: italic;
}

.content #employees-table th {
  text-align: left;
}

.content #employees-table,
th,
td {
  border-width: 0.025rem;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  font-size: 1.125rem;
}

.content th,
td {
  padding: 0.625rem 0.625rem;
  background-color: var(--pastel-light-green);
  color: var(--orange);
}

.content #employees-table .delete-icon {
  color: red;
  padding: 1rem 1rem;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-orange);
  padding: 0.625rem;
  font-weight: bolder;
  color: var(--orange);
  display: flex;
  justify-content: center;
}

@media (max-width: 1530px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 0.625rem 0.625rem;
  }
  .content .input-form .input-data {
    display: block;
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 1120px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    padding: 0.625rem 0.625rem;
  }
  .content #employees-table {
    width: 45em;
  }
  .content #employees-table caption {
    font-size: 1.125rem;
    padding: 0.45rem 0.45rem;
    color: var(--orange);
  }

  .content #employees-table th {
    text-align: left;
  }

  .content #employees-table,
  th,
  td {
    border-width: 0.025rem;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    font-size: 0.875rem;
  }

  .content th,
  td {
    padding: 0.625rem 0.625rem;
    background-color: var(--pastel-light-green);
    color: var(--orange);
  }

  .content #employees-table .edit-icon {
    padding: 0.05rem;
    width: 1.75rem;
    background: none;
    border: none;
  }

  .content #employees-table .delete-icon {
    color: red;
    padding: 0.05rem;
    width: 1.75rem;
    background: none;
    border: none;
  }
}
