:root {
  --pastel-yellow: #fcf8e8;
  --pastel-light-green: #d4e2d4;
  --light-orange: #ecb390;
  --orange: #df7861;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*Body*/
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--pastel-yellow);
}
/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-orange);
  padding: 1rem;
  font-family: arial, sans-serif;
  font-weight: bolder;
  color: var(--orange);
  display: flex;
  justify-content: center;
}

/*Content*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 0.625rem 0.625rem;
}

.content .input-data {
  padding: 1.125rem;
  font-size: 1.125rem;
  background-color: var(--pastel-light-green);
}

.content .input-data input {
  display: inline;
  margin-bottom: 0.625rem;
}

/*table*/
.content #employees-table {
  width: 62.5em;
}

.content #employees-table caption {
  font-size: 1.5rem;
  padding: 0.625rem 0.625rem;
  color: var(--orange);
}

.content #employees-table th {
  text-align: left;
}

.content #employees-table,
th,
td {
  border-width: 0.025rem;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  font-size: 1.125rem;
}

.content th,
td {
  padding: 0.625rem 0.625rem;
  background-color: var(--pastel-light-green);
  color: var(--orange);
}

.content #employees-table .edit-icon {
  padding: 0.125rem;
}

.content #employees-table .delete-icon {
  color: red;
  padding: 0.125rem;
  width: 2.15rem;
}

/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-orange);
  padding: 0.625rem;
  font-family: arial, sans-serif;
  font-weight: bolder;
  color: var(--orange);
  display: flex;
  justify-content: center;
}
